BeautifulSoup==3.2.1
Brlapi==0.5.7
Django==1.7
GnuPGInterface==0.3.2
Mako==0.7.0
Markdown==2.4.1
MarkupSafe==0.15
MySQL-python==1.2.4
PIL==1.1.7
SOAPpy==0.12.0
South==0.8.4
apt-xapian-index==0.45
argparse==1.2.1
chardet==2.0.1
defer==1.0.6
distribute==0.7.3
dj-database-url==0.3.0
dj-static==0.0.6
django-cors-headers==0.12
django-extensions==1.4.0
django-filter==0.7
django-oauth2-provider==0.2.6
django-toolbelt==0.0.1
djangorestframework==2.3.13
feedparser==5.1.2
fpconst==0.7.2
gunicorn==19.1.1
httplib2==0.7.4
louis==2.4.1
mysql-connector-python==0.3.2-devel
mysql-utilities==1.0.3
numpy==1.6.2
paramiko==1.7.7.1
pexpect==2.4
psycopg2==2.5.4
pycrypto==2.6
pycurl==7.19.0
pydot==1.0.28
pyparsing==2.0.2
pysqlite==2.6.3
pystache==0.5.3
python-apt==0.8.8.2
python-debian==0.1.21
python-debianbts==1.11
pyxdg==0.19
reportbug==6.4.4
reportlab==2.5
shortuuid==0.4.2
six==1.7.3
static==1.0.2
static3==0.5.1
uTidylib==0.2
unattended-upgrades==0.1
virtualenv==1.10.1
wsgiref==0.1.2
